<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center px-0">
      <app-nav></app-nav>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col text-center ">
          <router-outlet></router-outlet>
    </div>
  </div>
<div>

        <!--  FOOTER -->

<footer>
  <div class="container-fluid elegant-color-dark">
    <div class="row">
      <div class="col-5 text-left">
        <span>Juan Rivera Vaquero ©2019-2020.</span>
      </div>
      <div class="col-2 text-center">
        <a href="https://github.com/JuanitoOU"> GitHub.com</a>
      </div>
      <div class="col-5 text-right">
        <span>2º Año de DAM.</span>
      </div>
     </div>
  </div>
</footer>