.articulos{
  margin-top:70px;
}

[class*='col-'] {
  float: left;
  padding: 20px;
}

.boton{
  
  margin-bottom: 5%;
  margin-top: 5%;
 
  
 
}
.boton .btn-md{
   background-color: #000000;
  color: #FFFFFF;
  margin-right: 10px;
}
.boton .btn-sm{
  background-color: #888989;
 color: #FFFFFF;
 margin-right: 10px;
}

img{
  height:200px;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.menu{
   position: relative;
   top:40px;
   width: 400px;
  margin: auto;
  background-color: #ffffcc;
}

.menu  .titulo {
display: list-item;
border-style:solid;
border-width:3px;
border-color:#888;
list-style: none;
padding-top:15px;
margin-left:10px;
padding-bottom: 10px;
border-radius: 15px 0px;



}
.menu .item{
  display: list-item;
  list-style: none;
  
  }



 
