<div class="jumbotron comienzo">
    <h3 class="display-4 pb-4">Quienes Somos</h3>
    <p class="lead">En "TheKarts" ofrecemos un servicio de karts por tiempo, disponible para todos los públicos, con
        pistas habilitadas para menores y sin restricciones para adultos. <br>
        La mejor diversión al precio mas bajo esta aqui!!
    </p>
    <hr class="my-4">
    <p>Tenemos una amplia selección de pistas donde competir, solo o con amigos: </p>
    <div class="boton"><a class="btn btn-lg" routerLink="/catalogo" role="button">Catálogo</a></div>
</div>
<h3 class="mb-5">Equipo</h3>
<div class="card-deck mb-5">
    <div class="card">
      <img src="../../assets/img/trabajador1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Maria</h5>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/img/trabajador2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Alejandra</h5>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/img/trabajador3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Marcos</h5>
      </div>
    </div>
  </div>