<div class="container">
    <div class="row">
        <div class="col-12 catalogo">
            <h3>Catálogo</h3>
        </div>
    </div>
</div>



<div class= "cartas">

<div class="card mb-4 mt-4" style="max-width: 720px;" >
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/img/kartsPropios.jpg" class="card-img img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Alquier de karts</h5>
          <p class="card-text">Disponemos de una amplia y moderna flota de karts de alquiler. Disfruta de la
            velocidad
            sin complicaciones.</p>
          <p class="card-text"><small class="text-muted">Honda 270cc</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3"style="max-width: 720px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/img/kartsPrivados.jpg" class="card-img img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Alquiler de pista</h5>
          <p class="card-text">Si dispones de tu kart, ya sea de competición o de hobby, ponemos a tu
            disposición
            nuestro trazado para que puedas entrenar y conocer a más pilotos.</p>
          <p class="card-text"><small class="text-muted">Karts privados</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 720px;" >
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/img/tiendaKarts.jpg" class="card-img img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Productos para karts</h5>
          <p class="card-text">Contamos con una tienda en la que podrás encontrar aquellos consumibles que
            necesitas.
            ¡No te quedes sin rodar!</p>
          <p class="card-text"><small class="text-muted">Tienda</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="boton"><a class="btn btn-lg mb-4" routerLink="/contacto" role="button">Contactar</a></div>