<!-- Links navegación-->

<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color-dark" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" routerLink="/home">TheKarts</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav">
      
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/home">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/quienes-somos">QuienesSomos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/donde-estamos">DondeEstamos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/catalogo">Catálogo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/contacto">Contacto</a>
      </li>


    </ul>
    <!-- Links -->

    </links>

     </mdb-navbar>
     
        <div class="btn-group" mdbDropdown>
        
        </div>
  

   
 
  <!-- Collapsible content -->


<!--/.Navbar-->