<div class="jumbotron comienzo">
    <h3 class="display-4 pb-4">Como llegar</h3>
    <p class="lead">Nuestra pista se encuentra a menos de 30 minutos de Vigo, muy cercana a la autovía A-55 y la
        autopista
        AP-9. ¡Disponemos de amplio aparcamiento!</p>
        <hr class="my-4">
    <p>Haciendo click en nuestra ubicación en el siguiente mapa, obtendrás de forma sencilla la ruta más rápida
        hasta nuestras instalaciones.</p>
        
    <div class="mapaXl">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23662.69691056603!2d-8.635655647430767!3d42.153772327685395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd25867eac7d60f3%3A0xfc813eb7b3c6ef0f!2sPorri%C3%B1o%2C%20Pontevedra!5e0!3m2!1ses!2ses!4v1579675831029!5m2!1ses!2ses"
            width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            <p>Rúa Guia 4, 36412 Porriño</p>
    </div>
    <div class="mapaXs">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11831.351241463053!2d-8.626879364958203!3d42.15375742320465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd25867eac7d60f3%3A0xfc813eb7b3c6ef0f!2sPorri%C3%B1o%2C%20Pontevedra!5e0!3m2!1ses!2ses!4v1579681596747!5m2!1ses!2ses"
            width="200" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            <p>Rúa Guia 4, 36412 Porriño</p>
    </div>
</div>